*.mp4
.vscode/
ultralytics-8.2.95/
/Lib/site-packages/__pycache__
*.pyc
/YoloV8/YoloTrainData/
/YoloV8/OutputMouseBodyPic0923162319
# /YoloV8/OutputMouseBodyPic*
*.txt
*.txt
*.png
*.jpg
*.txt
*.7z
LogEventLogs/lyf_01.evt
*.evt
*.csv
/YoloV8/runs
*.pkl
*.cache
/打印图
/tempOutput
/logevent_Release
/Logs
